<tr>
  <td><%= structure.name %></td>
  
  <td>
    <% if structure.active %>
      <i class="icon-thumbs-up" style="color: green;"></i>
    <% else %>
      <i class="icon-thumbs-down" style="color: red;"></i>
    <% end %>
  </td>
  <td>
    <%= show_resource_with_icon admin_structure_path(structure) %>
    <%= edit_resource edit_admin_structure_path(structure) %>
    <%# remove_resource(admin_structure_path(structure), {})%>
    <% if structure.active == true %>
  <%= link_to raw('<i class="icon-cancel" style = "color:red"></i>'), admin_structure_path(structure),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  <% else %>
     
  <%= link_to raw('<i class="icon-check"style = "color:green"></i>'), admin_structure_path(structure),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   <%end%>
  </td>
</tr>
