<tr>
  <td><%= main_course.name %></td>
  <td><%= main_course.description %></td>
  <td><%= main_course.active %></td>
  
  <td><%= link_to 'Mostrar', user_main_course_path(main_course) %></td>
  <td><%= link_to 'Editar', edit_user_main_course_path(main_course) %></td>
  <td><%= link_to 'Inativar', user_main_course_path(main_course),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>
