<br>
<section class='fields-wrapper two-columns'>
    <header>
      	<h2> <%= "Cômodo #{@room.name} " %> 
      		<%= edit_resource edit_admin_room_path(@room) %>
      	</h2>
    </header>
</section>
  <section class='fields-wrapper two-columns'>    
      <article>
            <br>
            <b><%= Room.human_attribute_name(:active) %>:&nbsp;</b>
            <%= @room.active %><br>
            <b><%= Room.human_attribute_name(:name) %>:&nbsp;</b>
            <%= @room.name %><br>
            <b><%= Room.human_attribute_name(:description) %>:&nbsp;</b>
            <%= @room.description %><br>
      </article>
  </section>

  <footer>
    <%= cancel_action(path: admin_rooms_path) %>
    
  
  </footer>
