<tr>
  <td><%= accommodation_type.name %></td>
  <td><%= accommodation_type.description %></td>
  <td>
    <% if accommodation_type.active %>
      <i class="icon-thumbs-up" style="color: green;"></i>
    <% else %>
      <i class="icon-thumbs-down" style="color: red;"></i>
    <% end %>
  </td>
  <td>
    <%= show_resource_with_icon admin_accommodation_type_path(accommodation_type) %>
    <%= edit_resource edit_admin_accommodation_type_path(accommodation_type) %>
    <%# remove_resource(admin_accommodation_type_path(accommodation_type), {})%>
  <% if accommodation_type.active == true %>
  <%= link_to raw('<i class="icon-cancel" style = "color:red"></i>'), admin_accommodation_type_path(accommodation_type),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  <% else %>
     
  <%= link_to raw('<i class="icon-check"style = "color:green"></i>'), admin_accommodation_type_path(accommodation_type),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   <%end%>
  </td>
</tr>
