


<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="row justify-content-center mb-3">
      <div class="card mb-4">
        <div class="card-body">

        <div >
        <%= image_pack_tag 'logo.png', class: "img-responsive" %>
        </div>

        <h3>
        FAÇA SEU LOGIN 
        </h3>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.input :email, required: false, autofocus: true, label: 'E-mail' %>
            <%= f.input :password, required: false, label: 'Senha' %>
          </div>

          <div class="btn-group">
            <%= f.button :submit, "Entrar", data: {disable_with: '...'}, class: "btn btn-success" %>
            <%= render "customer/shared/links" %>
          </div>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
