<%= simple_form_for [:admin, @type_term] do |f| %>
<%= f.error_notification %>
	<section class='fields-wrapper two-columns'>
    <header>
      <h2>Cadastro de tipos de termo</h2>
    </header>
     <article>
      <%= f.input :name, placeholder: 'Tipo de termo', required: :true %>
      <%= f.input :active, placeholder: 'Ativo ? ', required: :true %>  
       <%= f.input :description, placeholder: 'Descrição ', required: :true %>
  </section>

  <footer>
    <%= submit_button f %>
  </footer>


<% end %>