
<%= f.fields_for :hotel_survey do |ff| %>

<div class="multiselect">
	<div class="selectBox" onclick="showCheckboxeseStructure()">
		<select class="browser-default custom-select custom-select-lg mb-3">
			<option><strong>Estrutura</strong></option>
		</select>
		<div class="overSelect"></div>
	</div>


	<div id="structure">

		<%= render partial: 'user/hotel_surveys/structure' , locals: {f: ff}  %>

		<div class="form-group row">
			<div class="col-md-4">
				<%= f.input :has_convention_rooms, as: :radio_buttons, class: "form-control" %>
			</div>
			<div class="col-md-4">
				<%= f.input :number_of_convetion_rooms, class: "form-control"  %>
			</div>  
			<div class="col-md-4">
				<%= f.input :total_capacity_convention_romms, class: "form-control"  %>
			</div>              
		</div>


		<%= f.input :structure,  as: :check_boxes , label: "Itens de Estrutura" ,collection: Structure.all, 
		checked: Structure.where(id: f.object.structure).pluck(:id), 
		input_html: {multiple: true }, class: "form-control" %>
	</div>
</div>
<hr>
<% end %>