<tr>

  <td>
    <%= city.country %>
  </td>
  <td>
    <%= city.state %>
  </td>
  <td>
    <%= city.city %>
  </td>
  <td>
    <%= Hotel.where(establishment_id: Establishment.where(nationality: city.country, state: city.state, city: city.city, business_establishment: "Hotel").pluck(:id)).count %>
  </td>
  <td>
    <%= Restaurant.where(establishment_id: Establishment.where(nationality: city.country, state: city.state, city: city.city, business_establishment: "Restaurant").pluck(:id)).count %>
  </td>
  <td>
    <%= TouristAttraction.where(establishment_id: Establishment.where(nationality: city.country, state: city.state, city: city.city, business_establishment: "TouristAttraction").pluck(:id)).count %>
  </td>

  <td>
    <%= link_to raw('<i class="far fa-newspaper" style="color:gray"></i>'), new_user_publication_path(id: city.id) %>
    <%= link_to raw('<i class="fas fa-eye" style="color:green"></i>'), user_city_path(city) %>
    <%= link_to raw('<i class="fas fa-edit" style="color:blue"></i>'), edit_user_city_path(city) %>
    <%= link_to raw('<i class="fas fa-times" style="color:red"></i>'), user_city_path(city), method: :delete, data: { confirm: 'Are you sure?'} %>
  </td>

</tr>

