<%= simple_form_for [:admin, @formpayment] do |f| %>
	<section class='fields-wrapper two-columns'>
    <header>
      <h2>Nova forma de Pagamento</h2>
    </header>
     <article>
      <%= f.input :active, label: "Categoria ativa ?" %>
      <%= f.input :name, placeholder: 'Nome da Categoria ', required: :true, required: :true %>
      <%= f.input :business_establishment, as: :check_boxes, collection: human_attribute_establishment_types, input_html: {multiple: true}, required: :true %>
    </article>
</section>

  <footer>
    <%= submit_button f %>
  </footer>


<% end %>