<td>
  <%= establishment_term.name %>
</td>
<td>
  <%= establishment_term.description %>
</td>
<td>
  <%= establishment_term.type_term %>
</td>
<td>
  <%= establishment_term.publication_date.strftime("%d/%m/%Y") %>
</td>

<td>
  <%= establishment_term.link_term %>
</td>

<td>
    <% if establishment_term.active %>
      <i class="icon-thumbs-up" style="color: green;"></i>
    <% else %>
      <i class="icon-thumbs-down" style="color: red;"></i>
    <% end %>
  </td>
  <td>
    <%= show_resource_with_icon admin_establishment_term_path(establishment_term) %>
    <%= edit_resource edit_admin_establishment_term_path(establishment_term) %>
    <%# remove_resource(admin_establishment_term_path(establishment_term), {})%>
    <% if establishment_term.active == true %>
  <%= link_to raw('<i class="icon-cancel" style = "color:red"></i>'), admin_establishment_term_path(establishment_term),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  <% else %>
     
  <%= link_to raw('<i class="icon-check"style = "color:green"></i>'), admin_establishment_term_path(establishment_term),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   <%end%>
  </td>
</tr>