<%= simple_form_for [:admin, @business_establishment] do |f| %>
<%= f.error_notification %>
	<section class='fields-wrapper two-columns'>
    <header>
      <h2>Estabelecimentos</h2>
    </header>
     <article>
      <%= f.input :name, placeholder: 'Tipo de Estabelecimento', required: :true %>
      <%= f.input :active, placeholder: 'Ativo ? ', required: :true %>  
      <%= f.input :description, placeholder: 'Descrição ', required: :true %> 
  </section>

  <footer>
    <%= submit_button f %>
  </footer>


<% end %>