<div class="card">
	<div class="card-header"><strong>Informações do Restaurante</strong></div>
	<div class="card-body">


		<div class="form-group row">
			<div class="col-md-3">
				<%= f.input :active, as: :radio_buttons, required: :true, class: "form-control" %>
			</div>

			<div class="col-md-3">
				<%= f.input :quant_start ,collection: 0..5, class: "form-control" %>
			</div>
		</div>

		<div class="form-group row">
			<%= render partial: "establishment_opening_hours", locals: {f: f} %>

		</div>

		<div class="form-group row">
			<div class="col-md-6">
				<%= f.input :comment, placeholder: 'Comentario sobre o estabelecimento  ', required: :true, class: "form-control" %>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-4">
				<%= f.input :classification_order ,collection: 0..5, class: "form-control" %>
			</div>
		</div> 
		
		<div class="form-group row">
			<div class="col-md-8">
				<%= f.input :price_range, collection: PriceRange.where("business_establishment @> ?", '{RESTAURANTES}').collect { |pr| [pr.description, pr.id] },
				selected: PriceRange.where(id: f.object.price_range).pluck(:id),
				class: "form-control" %>
			</div>
			<div class="col-md-4">
				<%= f.input :payments_form, as: :check_boxes, 
				collection:  FormPayment.where("business_establishment @> ?", '{RESTAURANTES}'), 
				checked: FormPayment.where(id: f.object.payments_form).pluck(:id), 
				input_html: {multiple: true }, class: "form-control" %>
			</div>                  
		</div>  


	</div>
</div>

<!-- colocar campo final_comment na tabela !--> 

