<%= simple_form_for [:admin, @furniture], 
  wrapper_mappings: {
    check_boxes:    :vertical_collection,
    radio_buttons:  :vertical_collection,
    file:           :custom_file,
    boolean:        :custom_boolean_switch
  }  do |f|%>

  <section class='fields-wrapper two-columns'>
    <header>
      <h2>Novo Mobiliario</h2>
    </header>
    <article>
      <%= f.input :name, wrapper_html: {class: 'col-9'} %>      
      <%= f.input :description, wrapper_html: {class: 'col-9'} %>
      <%= f.input :dimension, wrapper_html: {class: 'col-9'} %>
      <%= f.input :rooms, wrapper_html: {class: 'col-9'} %>
    </article>
  </section>

  <footer>
    <%= cancel_action(path: admin_furnitures_path) %>
    <%= submit_button f %>
  </footer>
<% end %>
