<%= simple_form_for [:admin, @price_range] do |f| %>
  <section class='fields-wrapper two-columns'>
    <header>
      <h2>Cadastro de Faixa de Preço</h2>
    </header>
      <article>
        <%= f.input :active, label: "Ativo?" %>
        <%= f.input :range_init %>
        <%= f.input :range_end %>
        <%= f.input :business_establishment, as: :check_boxes, collection: human_attribute_establishment_types, input_html: {multiple: true}, required: :true %>
      </article>       
  </section>

  <footer>
    <%= submit_button f %>
    <%= cancel_action(path: admin_price_ranges_path) %>
  </footer>
<% end -%>